---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FortVision script test</title>
	</head>
	<body>
		<h1>FortVision script test</h1>
		<script type='application/javascript'>
			var element = document.createElement('script');
			element.setAttribute('type', 'application/javascript');
			element.setAttribute('src', 'https://fortcdn.com/staticfiles/fb-web/js/fortvision-fb-web.js');
			element.setAttribute('publisher_id', '21970');
			element.setAttribute('campaign_ids', '320632');
			element.setAttribute('async','');
			document.body.appendChild(element);
		</script>
	</body>
</html>
